<div class="card">
  <div class="card-header">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>
              </th>
              <th>Product</th>
              <th>Code</th>
              <th>Available</th>
              <th>Price</th>
              <th>5 Star Rating</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img 
                [src]="product.imageUrl" 
                [title]="product.productName" 
                [style.width.px]="imageWidth"
                [style.margin.px]="imageMargin">
              </td>
              <td>
                <a>{{product.productName}} </a>
              </td>
              <td>{{product.productCode}} </td>
              <td>{{product.releaseDate}} </td>
              <td>{{product.price}}</td>
              <td><pm-star [rating]='product.starRating'></pm-star></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>