<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Fileter by:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="listFilter" />
      </div>
    </div>
    <div class="row">
      <div clas="col-md-6">
        <h4>Filetered by: {{ listFilter }}</h4>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf="products.length">
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary" (click)="toggleImage()">
                {{ showImage ? "Hide" : "Show" }} image
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>Star Rating</th>
            <th *ngIf="isLoggedIn">Edit button</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredPrducts">
            <td>
              <img *ngIf="showImage"
              [src]="product.imageUrl"
              [title]="product.productName"
              [style.width.px]="imageWidth" 
              [style.margin.px]="imageMargin" />
            </td>
            <td>
            <a [routerLink]="['/products',product.productId]">
              {{product.productName}}
            </a>
          </td>
            <td>{{ product.productCode | lowercase | convertToSpaces:'-' }}</td>
            <td>{{ product.releaseDate }}</td>
            <td>{{ product.price | currency : "USD" : "symbol" : "1.2-2" }}</td>
            <td><pm-star [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)'></pm-star></td>
            <td><button  *ngIf="isLoggedIn" (click)="onViewClick(product.productId) ">View</button></td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


  

<products-more *ngIf="canView" [idNumber]="productId"></products-more>